html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #aeaaaa;
  color: #333;
  height: 100%;
  width: 100%;
}

#header {
  margin: 0;
  background: #0055aa;
  color: white;
  text-align: Left; 
  height: 5%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-size: 2vw;
}

#websiteName {
  background-color: #0055aa;
  width: 20%;
  height:70%;
  text-align: center;
  border-radius: 15px;
  font-size: 100%;
  display: flex;
  align-items: center;
  padding: 0 1%;
  margin-inline: 1%;
  text-decoration: none;
  color: white;
}

#navbar {
  background: #0055aa;
  width: 40%;
  height: 70%;
  text-align: center;
  border-radius: 15px;
  font-size: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
  margin-inline: 1%;
  margin-left: auto;
}

#navbar a {
  background-color: #0055aa;
  border: none;
  color: white;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #4976a3;
}

#mainContent {
  height: 90%;
  width: 100%;
  background: rgb(136, 135, 135);
  padding: 3% 2%;
  box-sizing: border-box;
  display: flex;
  font-size: 2vw;
}

#contentBackground {
  background-color: rgb(192, 192, 192);
  width: 100%;
  height: 100%;
  padding: 3% 3%;
  box-sizing: border-box;
  display: flex;
}

#leftContent {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#rightContent {
  width: 38%;
  margin-left: auto;
}

#title {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 1%;
}

#description {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1% 1%;
  margin-top: auto;
  font-size: 45%;
}

#imageBox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 1%;
  margin-left: auto;
}

#footer {
  border-top: 1px solid rgb(200, 200, 200);
  bottom: 0;
  background: #0055aa;
  height: 5%;
  width: 100%;
}

img {
  width: 80%;
  height: auto;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
